<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9578509717-d2fqushqsstup7qpkc8lm35hc6v11240.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9578509717-d2fqushqsstup7qpkc8lm35hc6v11240</string>
	<key>API_KEY</key>
	<string>AIzaSyCUs8YQlCOL6RH7YvL1HVfJQd2xNhn6lHw</string>
	<key>GCM_SENDER_ID</key>
	<string>9578509717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crud</string>
	<key>PROJECT_ID</key>
	<string>rn-crud-53093</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-crud-53093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9578509717:ios:34ffdca099d7fccd53f29c</string>
</dict>
</plist>